@font-face {
    font-family: chalet1;
    src: url(../fontes/ChaletComprime/ChaletComprime\ CologneSixty.ttf);
}
html{
    background:linear-gradient(to right,#FAFF9F,#E1BA63) ;
}
body{
    background:linear-gradient(to right,#FAFF9F,#E1BA63) ;
}


.controle-botao{
    text-align: center;
    padding:20px;
}

.controle-botao a{ 
    text-decoration: none;
    color: white;
}